.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8,
.col9, .col10, .col11, .col12{
    margin-left: 28px;
    float: left;
    height: 200px;
    margin-top: 15px;
}

.col1{ width: 65px;}
.col2{ width: 158px;}
.col3{ width: 251px;}
.col4{ width: 344px;}
.col5{ width: 437px;}
.col6{ width: 530px;}
.col7{ width: 623px;}
.col8{ width: 716px;}
.col9{ width: 809px;}
.col10{ width: 902px;}
.col11{ width: 995px;}
.col12{ width: 1088x;}

.homeAyda{
    background: #096;
    height: 65px;
}

.espacio{
    height: 65px;
}

.espEqui{
    width: 205px;
}

.equipo{
    background: #CCC;
    height: 150px;
    width: 400px;
}

.ScrumMasOwner{
    background: #CCC;
    height: 150px;
    width: 210px;
}

.backlog{
    background: #CCC;
    height: 510px;
}

.contenedor{
    background: #CCC;
    margin-left: 10px;
    width: 730px;
    margin-top: 120px;
    height: 400px;
}

.planing{
    background:#096;
    margin-top: -195px;
    margin-left: 55px;
    width: 500px;
    height: 250px;
}

.opciones{
    background:yellow;
    height: 100px;
}

.imgHome{
    width: 65px;
    height: 65px;
}

.imgAyuda{
    width: 65px;
    height: 65px;
}

.letra{
    font-size: 9.8px;
}